:root {

    --white: #FFFFFF;
    --black: #000000;
    /* Light & Airy */
    --sky-blue: #87CEEB;
    --powder-blue: #B0E0E6;
    --light-cyan: #E0FFFF;
    
    /* Medium Blues */
    --cornflower: #6495ED;
    --soft-blue: #6A9FB5;
    --cadet-blue: #5F9EA0;
    
    /* Deep Blues */
    --steel-blue: #4682B4;
    --air-force: #5D8AA8;
}

body {
    margin: 0;
    padding: 0;
    
}
.main-container {
    /* border: 2px solid black; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
    margin-top: 0px;
}

.form-container {
    /* border: 2px solid black; */
    padding: 20px;

    /* margin-top: 13px;  */
    /* margin-bottom: 13px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 50vh; */
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-button{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--cadet-blue);
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 340px;
    margin-bottom: 2px;
    color: var(--black);
    cursor: pointer;}

    .login-button:hover {
        color: var(--white);
    }

    .input-container{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 50px;
        
        align-items: center;
        justify-content: center;
        /* height: 50vh; */
        background: var(--white);
        /* border-radius: 20px; */
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }

   .logo-image {
    width: 200px;
    height: 200px;
   }


    .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

    .error_container{
        border-color: #000000;
        background-color: #000000;

        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 50px;
        min-height: 54px;
        
        align-items: center;
        justify-content: center;
        /* height: 50vh; */
        background: var(--white);
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
    }
       
    
