
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: #222523;
}.title {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 2px;
}

.sub-container {
    border: 2px solid black;
    padding: 13px;
    margin-top: 13px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background: #76a57d;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
